# Copiar este archivo a .env y llenar con los datos reales
# Ejemplo de configuración
DATABASE_URL=postgresql://usuario:contraseña@localhost:5432/nombre_base_de_datos
SQL_ECHO=false

# CORS (Separados por coma)
CORS_ORIGINS=http://localhost:5173
